<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="{{asset('styles/home.css')}}">
     <link rel="stylesheet" href="{{asset('styles/bootstrap.min.css')}}">
</head>
<body>
     <header>
          <div class="entete">
            <div class="logo">
                 <h3><span>Re</span>Sto</h3>
            </div>
            <div class="navig d-flex align-items-center justify-content-center flex-row gap-2">
                 <a class="pages" href="{{ path('articles.index') }}">Nos articles</a>
                 <a class="pages" class="" href="{{ path('articles.paniers') }}">Votre panier</a>
                 {% if app.user %}
                      <a class="pages" href="{{ path('user.profil.main') }}">Votre profil</a>
                 {% endif %}
                 {% if app.user %}
                     <form action="{{path('app.logout')}}" method="POST">
                         <input type="submit" class="btn btn-outline-danger" value="Se déconnecter">
                     </form>
                 {% else %}
                     <a href="{{path('app.login')}}" class="btn btn-primary">Se connecter</a>
                 {% endif %}
            </div>
          </div>

          <div class="texte">
               <div class="box">
                   <p>"Bienvenue sur notre boutique en ligne, où qualité et 
                      et prix attractifs se rencontrent"
                   </p>
                   <a href="{{ path('articles.index') }}" class="btn btn-outline-warning">Continuer</a>
               </div>
        </div>
    </header>
</body>
</html>